@tailwind base;
@tailwind components;
@tailwind utilities;

.required {
  position: relative;
}

.required::after {
  content: "*";
  position: absolute;
  color: red;
}

.MuiDialog-paperWidthSm {
  width: 100%;
  max-width: 80vw;
}

.MuiInputLabel-root {
  /* inset: 0 !important; */
  top: -5px !important;
  color: #baaab1;
}

.MuiOutlinedInput-root {
  height: 40px;
}

.MuiOutlinedInput-root input {
  padding: 0;
}
